* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

body {
    background: #000000;
}

p {
    font-size: 16px;
}

.wrapper {
    max-width: 1600px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-auto-rows: 900px 500px 500px 500px 900px 500px 600px;
    grid-template-areas: 
        "header header header header"
        "about about about about"
        "gallery gallery gallery gallery"
        "instagram instagram instagram instagram"
        "music music music music"
        "payMarket payMarket payMarket payMarket"
        "footer footer footer footer"
    ;
    background: #282b2f;
}

header {
    grid-area: header;
    background-color: rgba(235, 233, 233, 0.692);
    background: url(images/SLANTED.png) no-repeat right bottom, url(images/HERO.png) no-repeat;
    background-size: 70% 100%, 100% 100%;
}

.layarMaskAcua {
    width: 100%;
    height: 100%;
    background-color: #65edfc70;
    padding-top: 90px;
    padding-left: 211px;
}

.black_squere {
    width: 80px;
    height: 80px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    vertical-align: middle;
    font-size: 62px;
    font-weight: 700;
}

h1 {
    font-size: 65pt;
    margin-top: 190px;
    margin-bottom: 25px;
    font-weight: 100;
}

.black_squere__p {
    font-size: 26pt;
    color: rgb(0, 0, 0);
    font-weight: 100;
    line-height: 50px;
}

.black_squere__name {
    font-weight: 700;
}

/* стили к полю about */
.about {
    grid-area: about;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
        "leftColumn rightColumn"
    ;
}

.leftColumn {
    grid-area: leftColumn;
    background: url(images/dude.png) no-repeat;
    background-size: 100% 100%;
}

.layrMaskOrang {
    width: 100%;
    height: 100%;
    background: #fc01059a;
}

.rightColumn {
    grid-area: rightColumn;
    background: #f3f1ef;
    padding-left: 55px;
}

.rightColumn_content {
    text-align: left;
    max-width: 490px;
}

.rightColumn_content h3 {
    margin: 100px auto 38px 0;
    font-size: 24pt;
    text-transform: uppercase;
    font-weight: bold;
}

.rightColumn_content p {
    line-height: 30pt;
    font-size: 28pt;
    font-weight: 100;
}

/* стили к полю  gallery */

.gallery {
    grid-area: gallery;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-areas:
        "trailer redBike scott mountain"
}

.gallery>* {
    background-size: cover;
    background-origin: border-box;
    background-clip: border-box;
}

.trailer {
    grid-area: trailer;
    background: url(images/trailer.png) no-repeat center;
}

.redBike {
    grid-area: redBike;
    background: url(images/redbike.png) no-repeat center left;
}

.scot {
    grid-area: scott;
    background: url(images/scot.png) no-repeat center;
}

.mountain {
    grid-area: mountain;
    background: url(images/montain.png) no-repeat center right;
}

/* стили к полю instagram */

.instagram {
    grid-area: instagram;
    background: #3f729b;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-areas:
        "instagram_content instagram_content skiing ."
}

.instagram_content {
    grid-area: instagram_content;
    width: 490px;
    margin-left: 200px;
}

.instagram_content h3 {
    margin-top: 120px;
    margin-bottom: 40px;
    line-height: 17px;
    font-size: 24pt;
    text-transform: uppercase;
    font-weight: bold;
    color: #f9f9f9;
}

.instagram_content p {
    line-height: 28pt;
    font-size: 28pt;
    font-weight: 100;
    color: #f9f9f9;
    margin-bottom: 35px;
}

.instagram_btn {
    width: 280px;
    height: 56px;
    border: 2px solid #e8eef3;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
    background: #3f729b;
    color: #f9f9f9;
    line-height: 13px;
    font-size: 18pt;
    text-transform: uppercase;
}

.instagram_btn:hover {
    cursor: pointer;
    font-weight: 700;
    background: rgb(252, 8, 8);
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}

.skiing {
    grid-area: skiing;
    background: url(images/skiing.png) no-repeat center left;
    background-size: cover;
    background-origin: border-box;
    background-clip: border-box;
}

/* стили к полю music */

.music {
    grid-area: music;
    background: #282b2f;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-areas:
        ". dj dj dj"
    ;
}

.dj {
    grid-area: dj;
    background: url(images/dj.png) no-repeat bottom right;
    background-size: auto;
    background-origin: border-box;
    background-clip: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 500px 400px;
    grid-template-areas:
        "dj_content . ."
        ". . ."
    ;
}

.dj_content {
    grid-area: dj_content;
    background: #212227;
}

.dj_content h3 {
    margin-top: 140px;
    margin-bottom: 20px;
    margin-left: 50px;
    line-height: 20px;
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: 400;
    color: #2ebd59;
}

.dj_content h4 {
    margin-left: 50px;
    line-height: 20px;
    font-size: 15pt;
    text-transform: uppercase;
    font-weight: 400;
    color: #2ebd59;
}

.dj_content p {
    line-height: 14pt;
    font-size: 12pt;
    font-weight: 100;
    color: #f9f9f9;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 100px;
}

.dj_content__btn {
    margin-left: 50px;
    width: 176px;
    height: 48px;
    border: 2px solid #2ebd59;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    color: #2ebd59;
    background: #212227;
    line-height: 17px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.dj_content__btn:hover {
    cursor: pointer;
    background: rgb(252, 8, 8);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}

/* стили к полю payMarket */

.payMarket {
    grid-area: payMarket;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
        "sptyfiy itunes"
    ;
}

.sptyfiy {
    grid-area: sptyfiy;
    background: #2ebd59;
}

.sptyfiy_content {
    max-width: 490px;
    margin-top: 139px;
    margin-right: 94px;
    margin-left: auto;
}

.sptyfiy_content h3 {
    line-height: 17px;
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-bottom: 43px;
}

.sptyfiy_content p {
    line-height: 28pt;
    font-size: 28pt;
    font-weight: 100;
    color: #f9f9f9;
    margin-bottom: 40px;
}

.sptyfiy_btn {
    width: 280px;
    height: 56px;
    border: 2px solid #e8eef3;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
    background: #2ebd59;
    color: #f9f9f9;
    line-height: 13px;
    font-size: 18pt;
    text-transform: uppercase;
}

.sptyfiy_btn:hover {
    cursor: pointer;
    font-weight: 700;
    background: rgb(252, 8, 8);
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}

.itunes {
    grid-area: itunes;
    background: #282b2f;
}

.itunes_content {
    max-width: 430px;
    margin-top: 139px;
    margin-left: 60px;
}

.itunes_content h3 {
    line-height: 17px;
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-bottom: 43px;
}

.itunes_content p {
    line-height: 28pt;
    font-size: 28pt;
    font-weight: 100;
    color: #f9f9f9;
    margin-bottom: 40px;
}

.itunes_btn {
    width: 280px;
    height: 56px;
    border: 2px solid #e8eef3;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
    background: #282b2f;
    color: #f9f9f9;
    line-height: 13px;
    font-size: 18pt;
    text-transform: uppercase;
}

.itunes_btn:hover {
    cursor: pointer;
    font-weight: 700;
    background: rgb(252, 8, 8);
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}

/* тут стили для подвала */

footer {
    grid-area: footer;
    background: #212227;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h5 {
    margin-top: 100px;
    margin-bottom: 32px;
    font-size: 15pt;
    color: rgb(255, 255, 255);
    text-align: left;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    line-height: 14pt;
    font-size: 12pt;
    font-weight: 100;
    color: #686a6e;
}

.socialNetwork_h5, .sponsor_h5 {
    margin-top: 80px;
}

.sponsor_h5, .socialNetwork_h5 {
    margin-bottom: 25px;
}

.amazingLife {
    max-width: 280px;
    margin-right: 120px;
}

.contactsInformation {
    max-width: 170px;
    display: flex;
    flex-direction: column;
    margin-right: 130px;
}

.contactMe {
    width: 100%;
}

.socialNetwork {
    width: 100%;
}

ul>li {
    list-style-position: inside;
    color: #686a6e;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-weight: 700;
    list-style: none;
    line-height: 16px;
    cursor: pointer;
}

li>img {
    width: 18px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 3px;
}

.otherInformation {
    max-width: 475px;
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    height: 60px;
    margin-top: 20px;
    background: #4d4e52;
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    padding-left: 20px;
    line-height: 10px;
    font-size: 12px;
}

.sponsor_container {
    display: inline-block;
    width: 80px;
    height: 80px;
    padding-top: 30px;
    text-align: center;
    border: 2px solid #f4f8fb;
    margin-right: 20px;
    color: #686a6e;
    text-transform: uppercase;
}

.sponsor_container:hover {
    cursor: pointer;
    background: rgb(252, 8, 8);
    color: rgb(255, 255, 255);
    font-weight: 700;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}